@CHARSET "UTF-8";

body {
	font-family: Microsoft YaHei;
	background-color: #FFFFFF;
}

div.header {
	overflow: auto;
	background-color: #56c9ac;
	height: 45px;
	min-width: 900px;
}

div.logo {
	float: left;
	width: 200px;
}

div.doSth {
	float:right;
	width: 100px;
	height: 100%;
	text-align: center;
	background-color: #e3502f;
}
div.userName {
	float:left;
	line-height: 45px;
	font-size: 20px;
	width: 150px;
}
#login {
	color: black;
	font-size: 30px;
}

a:link {
	text-decoration: none;
}

#birthday {
	width: 220Px;
	height: 30px;
	border-radius: 5px;
	font-family: Microsoft YaHei;
	font-size: 20px;
}

#submit, #reset {
	height: 30px;
	width: 60px;
	font-family: Microsoft YaHei
}



div.func {
	text-align: center;
	margin: auto;
	height: 30px;
	font-size: 20px;
	background-color: #C8E6C9;
}

#userName {
	color: white;
}

font.fieldError {
	font-size: 10px;
	color: red;
}

input.textInput {
	width: 220Px;
	height: 30px;
	border-radius: 5px;
	font-family: Microsoft YaHei;
	font-size: 20px;
}

div.father {
	max-width: 100%;
	min-width: 1200px;
}

div.main {
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 24px;
	color: black;
}

div.saveTable {
	position: absolute;
	top: 10%;
	left: 40%;
	font-size: 20px;
	color: black;
}

div.table {
	margin-left: 15%;
}

#customerTable {
	width: 80%;
}

tr.tr {
	height: 40px;
}