@CHARSET "UTF-8";
	body{
			font-family:Microsoft YaHei;
			background-color: #56c9ac;
		}
	
		div.header{
		background-color: #56c9ac;
		height: 45px;
		}
		
		div.logo{
			float: left;
			margin-left: 0.5%;
			margin-top: 0.2%;
		}
		
		div.doSth{
			float: right;
			text-align:center;
			height:100%;
			width:100px;
			background-color: #e3502f;
		}
		
		#login{
			color: white;
			font-size: 30px;	
		}
		
		a:link{
			text-decoration: none;
		}
		
		div.main{
			width:600px;
			height:150px;
			margin-left:30%;  
			text-align: right;
			margin-top: 20%;
			font-size: 24px;
			color: white;
		}
		
		#birthday{
			width: 220Px;
			height: 30px;
			border-radius:5px;
			font-family: Microsoft YaHei;
			font-size: 20px;
		}
		
		#submit{
			width: 60px;
			height: 30px;
			font-family: Microsoft YaHei
		}
		
		div.userName{
    		float:left;
    		margin-left:75%;
    		font-size:20px;
			width:150px;
			line-height: 45px;
    	}
    	
    	div.func{
    		text-align:center;
    		margin: auto;
    		height: 30px;
    		font-size: 20px;
    		background-color: #eaedf2;
    		}
    		
    		#userName{
    		color: white;
    	}	
    	
    	
    	font.fieldError{
 		font-size: 10px;
 		color: red;	
 		}
 		
 		input.textInput{
 		width: 220Px;
			height: 30px;
			border-radius:5px;
			font-family: Microsoft YaHei;
			font-size: 20px;
 		}